<div id='comments'>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <span id='comment-message'>
          <%= comment.message %>
        </span><br>
        <span class='peep_posted_by' id='color-update'>
          posted by <%= comment.user.username %> on the <%= comment.date_time.strftime("%d/%m/%Y") %> at <%= comment.date_time.strftime("%H:%M") %>
        </span>
        <% if current_user == comment.user %>
          <table class='peep-comment-buttons'>
            <tr>
              <td><a href="/comments/<%= comment.id %>" class='comment-buttons' id='update-comment'>Update Comment</a></td>
              <td><form action="/comments/<%= comment.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Comment" id='delete-comment' class='comment-buttons'>
              </form></td>
            </tr>
          </table>
        <% end %>
        <% if @comments.last != comment %>
          <div class='orange-line'></div>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>