<div>
  <%= @peep.message %><br>
  posted by <%= @peep.user.username %> on the <%= @peep.date_time.strftime("%d/%m/%Y") %> at <%= @peep.date_time.strftime("%H:%M") %><br>
</div>
<br><br>
<a href="/comments/<%= @peep.id %>/new"><button>New Comment</button></a>
<br><br>