<li class='peep'>
  <span class='peep_message'>
    <%= peep.message %>
  </span><br>
  <span class='peep_posted_by'>
  posted by <%= peep.user.username %> on the <%= peep.date_time.strftime("%d/%m/%Y") %> at <%= peep.date_time.strftime("%H:%M") %>
  </span>
  <table class='peep-buttons'>
    <tr>
      <td><a href="/peep_page/<%= peep.id %>" id='see-comments' class='peep-button'>See comments</a></td>
      <% if current_user == peep.user %>
        <td><a href="/peeps/<%= peep.id %>" id='update-peep' class='peep-button'>Update Peep</a></td>
        <td><form action="/peeps/<%= peep.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Peep" id='delete-peep' class='peep-button'>
        </form></td>
      <% end %>
    </tr>
  </table>
</li>